body {
	background-color: #404040;
	font-family: tahoma, helvetica, sans-serif;
	color: #E0E0E0;
	margin: 0px 0px 0px 50px;
}
h2, h3, li, pre, table, p {
	width: 800px;
}


h1.title {
	background-color: #202020;
	color: #FFFF00;
	font-size: 48px;
	margin: 0px 0px 0px -50px;
	padding: 10px 0px 0px 20px;
}
h1.subtitle {
	background-color: #202020;
	font-size: medium;
	font-family: monospace;
	font-weight: normal;
	margin: 0px 0px 0px -50px;
	padding: 0px 0px 10px 70px;
}
h2 {
	margin-top: 50px;
	color: #909090;
	border-bottom: 1px solid #202020;
}
h3 {
}

table th {
	text-align: left;
	background-color: #202020;
	padding-left: 5px;
}

ul.menu {
	background-color: #606060;
	margin: 0px 0px 0px -50px;
	padding: 0px 0px 0px 20px;
}
ul.menu li {
	display: inline;
	margin: 0px;
}
ul.menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: small;
	font-weight: bold;
	margin-left: 20px;
}

li {
	list-style-type: square;
}
pre {
	border: 1px solid #707070;
	background-color: #505050;
	color: #FFFFFF;
	width: 800px;
}
a {
	color: #FFFF00;
}
tt {
	color: #FFFFFF;
	font-weight: bold;
}

p.sponsor {
	float: right;
	margin: 0px 20px 0px 20px;
}
